<div class="container">
    <h2>Movie Details</h2>
    <br>
    <div *ngIf="movies">
        <h3>{{ movie.Title | titlecase }}</h3> 
        <div class="section">
            Language: <p><strong>{{ movie.Language | titlecase }}</strong></p> |
            Location: <p><strong>{{ movie.Location | titlecase }}</strong></p>
            <p-rating [ngModel]="movie.imdbRating" readonly="false" stars="10" [cancel]="false"></p-rating>  
        </div> 
        <br>        
       <div class="plot">
        <p>{{ movie.Plot }}</p>
       </div>
        <div class="poster">
            <img src={{movie.Poster}} alt="Movie Poster" [style.width.px]="200"/>
        </div>
        <br>
        <br>
        
        <p-carousel [value]="movie.Stills" [numVisible]="1" [numScroll]="1">
            <ng-template let-movieStill pTemplate="item">
                <div class="p-lb-12">
                    <img src="{{movieStill}}" [alt]="movie.name" class="movie-still"/>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>
