<div class="container">
    <h2>Movie Details</h2>
    <br>
    <div *ngIf="movies">
        <h3>{{ movie.Title | titlecase }}</h3> 
        <div class="section">
            Language: <p><strong>{{ movie.Language | titlecase }}</strong></p> |
            Location: <p><strong>{{ movie.Location | titlecase }}</strong></p> |
            Rating: <p><p-rating [ngModel]="movie.imdbRating" readonly="false" stars="10" [cancel]="false"></p-rating></p>
        </div>
        <br>        
       <div class="plot">
        <p>{{ movie.Plot }}</p>
       </div>
        <div class="poster">
            <img src={{movie.Poster}} alt="Movie Poster" [style.width.px]="200"/>
        </div>
        <br>
        <br>
        <div *ngFor="let still of movie.Stills" class="stillSection">
            <img src={{movie.still}} alt="Movie Still" [style.width.px]="200"/>
        </div>
    </div>
</div>
