<div class="card">
    <div class="card-header">
        <h5>Movies for you!!</h5>
    </div>
    <div class="card-body">
    <p-table [value]="movies"  #dt1 [globalFilterFields]="['Title','Language','Location']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search using Title, Location, Language" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Title" style="width: 40%;">Title <p-sortIcon field="Title"></p-sortIcon></th>
                <th pSortableColumn="Language" style="width: 16%;">Language <p-sortIcon field="Language"></p-sortIcon></th>
                <th pSortableColumn="Location" style="width: 16%;">Location <p-sortIcon field="Location"></p-sortIcon></th>
                <th pSortableColumn="imdbRating" >ImdbRating<p-sortIcon field="imdbRating"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-movie>
            <tr (click)="onRowSelect($event, movie)">
                <td>{{movie.Title}}</td>
                <td>{{movie.Language}}</td>
                <td>{{movie.Location}}</td>
                <td><p-rating [ngModel]="movie.imdbRating" readonly="false" stars="10" [cancel]="false"></p-rating></td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>